.col-md-6{id: "episode-#{episode.id}"}
  %li.panel.p
    .pull-right
    .row
      .col-md-4
        = thumbor_image_tag "250x250/smart/#{episode.still}", class: "img-responsive"
      .col-md-8
        - if episode.watched?
          .pull-right
            = fa_icon :check
        - elsif episode.releases?
          .pull-right
            = fa_icon :download
        %h4
          %small
            = episode.season_episode
          = episode.tmdb_details.fetch("name", '')
        %h5.small
          = fa_icon "clock-o"
          = episode.tmdb_details['air_date']

        = episode.tmdb_details.fetch("overview", "").truncate(150)
