%ul.list-unstyled.m-t-lg
  - if results.any?
    %h4 Results for "#{params[:query]}"
    - results.each do |movie|
      %li.panel.panel-default
        .panel-body
          .row
            .col-md-2
              = image_tag(movie.poster, class: 'img-responsive')
            .col-md-10
              %h1
                = movie.title
                %span.small=movie.year
              .row
                .col-md-3
                  .pull-left.m-r-sm
                    = link_to(movie.imdb_url, target: "_blank") do
                      = image_tag("imdb_button.png", width: 50, height: 50, class: 'media-object')
                  .pull-left
                    = link_to(movie.rt_url, target: '_blank') do
                      = image_tag("rt_fresh.png", width: 50, height: 50, class: 'media-object')

              .row.m-t-lg
                .col-md-12
                  = button_to "Download", movie_downloads_path(query: movie.imdb_id), class: "btn btn-success m-b-sm"
                  = button_to "Add to Waitlist", movie_waitlists_path(query: movie.imdb_id), class: "btn btn-success m-b-sm"
  - else
    %h4 Nothing found for "#{params[:query]}"
