.panel.panel-default
  .panel-heading.p-xs
    .panel-title
      %h3.m-n
        = fa_icon :tv
        Todays Episodes
        .pull-right
          = dashboard.episodes_today.size
  .panel-body.p-xs
    %ul.list-unstyled
      - dashboard.episodes_today.each do |episode|
        .row.m-b-sm
          .col-md-12
            %li
              .pull-left
                = image_tag(episode.still, class: 'img-responsive', width: "75px")
              .col-md-10
                %h4
                  = episode.name
                  \-
                  = episode.season_episode
                  %small
                    = episode.try(:tmdb_details).try(:fetch,'name')
