.panel.panel-default
  .panel-heading.p-xs
    .panel-title
      %h3.m-n
        = fa_icon :tv
        This weeks Episodes
        .pull-right
          = dashboard.episodes_week.size
  .panel-body.p-xs
    %ul.list-unstyled
      - dashboard.episodes_week.each do |episode|
        .row.m-b-sm
          .col-md-12
            %li
              .pull-left
                = thumbor_image_tag(episode.still, class: 'img-responsive', width: "75px")
              .col-md-10
                %h4
                  = link_to tv_show_path(episode.tv_show) do
                    = episode.tv_show.name
                  \-
                  = episode.season_episode
                  %small.m-l-sm
                    = episode.try(:tmdb_details).try(:fetch,'name')
                  - unless episode.downloadable?
                    .pull-right
                      = fa_icon "clock-o", title: "Downloading in #{distance_of_time_in_words(DateTime.now, episode.download_at)}", data: {toggle: "tooltip"}
                  - if episode.watched?
                    .pull-right
                      = fa_icon :check

