= javascript_pack_tag 'movie-recommendations-bundle'

.hidden-xs
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading.p-xs
          %h3.m-n
            = fa_icon :film
            Movie recommendations
        .panel-body.p-xs
          = react_component('MovieRecommendations')
.row
  .col-md-6
    = render partial: 'home/index/episodes_today', locals: {dashboard: @view}
  .col-md-6
    = render partial: 'home/index/episodes_week', locals: {dashboard: @view}
