%div.panel.panel-default
  .panel-body
    .row
      .col-md-5
        = thumbor_image_tag "700x0/#{episode.still(500)}", class: 'img-responsive'
      .col-md-7
        .row
          .col-md-12
            %h2.m-t-none
              = episode.name
              %small
                = episode.season_episode
              - if episode.watched?
                = fa_icon :check
        .row.m-t-sm
          .col-md-12
            %strong
              = react_component('DownloadAt', date: episode.download_at)
        .m-t
          = render partial: 'episodes/index/release', locals: {release: episode.best_release}

