.panel-body
  .row
    .col-sm-3
      / = image_tag(movie.poster, class: 'img-responsive')
      = react_component 'PosterImage', src: movie.poster
    .col-sm-9
      .row
        .col-sm-12
          %h1.m-t-none
            = movie.title
            %span.small=movie.omdb_details['year']
            - if movie.deletable?
              = button_to 'Delete', movie_path(movie.id), method: :delete, remote: true, data: {disable_with: '...', confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger'
          - if movie.rt_consensus.present?
            .row
              .col-sm-8
                %blockquote.small
                  %p
                    = movie.rt_consensus
                  %footer
                    Rotten Tomatoes
          .row
            .col-sm-3
              .pull-left.m-r-sm
                = link_to(movie.imdb_url, target: "_blank") do
                  = image_tag("/images/imdb_button.png", width: 50, height: 50, class: 'media-object')
              .pull-left
                = link_to(movie.rt_url, target: '_blank') do
                  = image_tag(movie.rt_icon, width: 50, height: 50, class: 'media-object')
              .vertical-center.p-l-xs.pull-left
                %h4
                  = "#{movie.omdb_details['tomato_meter']}%"
      .row.m-t-sm
        .col-sm-12
          %p
            = movie.omdb_details['plot']

      .row
        .col-sm-12
          = fa_icon "clock-o"
          Released
          = movie.release_date

      .row
        .col-sm-12.m-t-sm
          = fa_icon :cog
          = movie.omdb_details['genre']
      .row
        .col-sm-12.m-t-sm
          = fa_icon :star
          = movie.omdb_details['actors']

      .row
        .col-sm-12.m-t-sm
          = fa_icon "clock-o"
          = movie.omdb_details['runtime']
          %span.p-l-sm
          = fa_icon :flag
          = movie.omdb_details['country']
          %span.p-l-sm
          = fa_icon :language
          = movie.omdb_details['language']

      - if movie.has_acceptable_release?
        %hr
        - if movie.download_at.present? && movie.download_at >= DateTime.now
          .row.m-t
            .col-sm-12
              Acceptable release found
              %br
              %strong
                = react_component 'DownloadAt', date: movie.download_at

        = render partial: 'movies/index/release', locals: {release: movie.best_release}
        - if movie.forcable?
          .row.m-t-sm
            .col-sm-12
              = button_to 'Force Download', force_movie_waitlist_path(movie.id), method: :put, data: {disable_with: '...', confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger'
