%li.panel.panel-default
  .panel-body
    .row
      .col-md-2
        = image_tag("https://thumbs.picyo.me/#{movie.omdb_details['poster']}", class: 'img-responsive')
      .col-md-10
        .row
          .col-md-12
            %h1.m-t-none
              = movie.omdb_details['title']
              %span.small=movie.omdb_details['year']
            .pull-left
              = image_tag("https://thumbs.picyo.me/50x50/qNPYVd1.png", class: 'media-object')
            .vertical-center.p-l-xs
              %h4
                = "#{movie.omdb_details['tomato_meter']}%"
        .row
          .col-md-8
            %p
              = movie.omdb_details['plot']
        .row
          .col-md-12
            = fa_icon :cog
            = movie.omdb_details['genre']
        .row
          .col-md-12.m-t-sm
            = fa_icon :star
            = movie.omdb_details['actors']

        .row
          .col-md-12.m-t-sm
            = fa_icon "clock-o"
            = movie.omdb_details['runtime']
            %span.p-l-sm
            = fa_icon :flag
            = movie.omdb_details['country']
            %span.p-l-sm
            = fa_icon :language
            = movie.omdb_details['language']

