%li.panel.panel-default
  .panel-body
    .row
      .col-md-2
        = image_tag(movie.poster, class: 'img-responsive')
      .col-md-10
        .row
          .col-md-12
            %h1.m-t-none
              = movie.title
              %span.small=movie.omdb_details['year']
              - if movie.deletable?
                = button_to 'Delete', movie_path(movie.id), method: :delete, remote: true, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger'
            .row
              .col-md-3
                .pull-left.m-r-sm
                  = link_to(movie.imdb_url, target: "_blank") do
                    = image_tag("imdb_button.png", width: 50, height: 50, class: 'media-object')
                .pull-left
                  = link_to(movie.rt_url, target: '_blank') do
                    = image_tag("rt_fresh.png", width: 50, height: 50, class: 'media-object')
                .vertical-center.p-l-xs.pull-left
                  %h4
                    = "#{movie.omdb_details['tomato_meter']}%"
        .row.m-t-sm
          .col-md-8
            %p
              = movie.omdb_details['plot']
        .row
          .col-md-12
            = fa_icon :cog
            = movie.omdb_details['genre']
        .row
          .col-md-12.m-t-sm
            = fa_icon :star
            = movie.omdb_details['actors']

        .row
          .col-md-12.m-t-sm
            = fa_icon "clock-o"
            = movie.omdb_details['runtime']
            %span.p-l-sm
            = fa_icon :flag
            = movie.omdb_details['country']
            %span.p-l-sm
            = fa_icon :language
            = movie.omdb_details['language']

