.col-md-6
  .row.panel.m-l-sm
    .col-md-4.p-n
      = thumbor_image_tag tv_show.poster, class: "img-responsive"
    .col-md-8
      %h3
        .pull-right.small
          - if tv_show.watching?
            = fa_icon :eye
        = link_to tv_show.name, tv_show_path(tv_show)
        %br
        %small= tv_show.tmdb_details.fetch('first_air_date', '')
      %div
        = tv_show.trakt_details.fetch(:overview, '').truncate(200)

