%nav#navigation.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: home_index_path} Broad
    #navbar.collapse.navbar-collapse
      = form_tag(search_path, method: 'get', class: "navbar-form navbar-right", role: "search") do
        .form-group
          %select#search_type.form-control{name: 'search_type'}
            %option{value: :movies, selected: (params[:search_type] == 'movies')} Movies
            %option{value: :tv_shows, selected: (params[:search_type] == 'tv_shows')} TV Shows
          %input.form-control{:placeholder => "Search...", :type => "text", name: 'query'}
        %button.btn.btn-default{:type => "subwmit"}
          Search
      %ul.nav.navbar-nav
        %li
          = link_to movie_downloads_path do
            Downloads
        %li
          = link_to movie_waitlists_path do
            Waitlist
        %li
          = link_to watched_movies_path do
            Watched
        %li
          = link_to tv_shows_path do
            TV Shows
        %li
          = link_to episodes_path do
            Episodes
        %li
          = link_to tv_shows_calendar_index_path do
            Calendar
