<!DOCTYPE html>
<html>
  <head>
    <title>Testo2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'typography', media: 'print' %>
  </head>
</head>
<body>
  Hej
</body>
</html>
